<div id="card-response" class="card-response">

  {{#each flashcards as |flashcard|}}

    <div id="card-container" class="card-container" data-id="{{flashcard.id}}">

      <div id="flip-container" class="flip-container" ontouchstart="this.classList.toggle('hover')">

        <div class="flipper">
          <div id="flip-front" class="flip-front card">
            <p id="flip-front-text" class="flip-front-text">
              {{flashcard.word}}
            </p>
          </div>

          <div id="flip-back" class="flip-back card">
            <p id="flip-back-text" class="flip-back-text">
              {{flashcard.definition}}
            </p>
          </div>
        </div>
      </div>

      <audio controls
      src="https://api.voicerss.org/?key=1d3b94873d76490aa642c3b7dce52146&hl=ja-jp&src={{flashcard.word}}" class="word-audio" id="word-audio">
      Your browser does not support the <code>audio</code> element.
      </audio>

      <!-- <form id="updateFlacards" class="text-align-center updated-flashcard" data-id="{{flashcard.id}}">
        <fieldset>
          <input class="card-front-text update-front-text" type="text" name="flashcard[word]" placeholder="Enter a word">
          <input class="card-back-text update-back-text" type="text" name="flashcard[definition]" placeholder="Enter a definition">
          <input class="update-submit" type="submit" name="submit" value="Update Card">
        </fieldset>
      </form> -->

      <!-- Trigger the modal with a button -->
      <button type="button" class="modal-btn modal-update-button" data-toggle="modal" data-target="#modal-update" data-id="{{flashcard.id}}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true" data-id="{{flashcard.id}}"></span>
      </button>
      <!-- Modal -->
      <div id="modal-update" class="modal fade modal-update" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <!-- Modal header-->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Update</h4>
            </div>
            <!-- Modal body-->
            <div class="modal-body">
              <form id="updated-flashcard" class="text-align-center updated-flashcard" data-id="{{flashcard.id}}">
                <fieldset>
                  <input class="card-front-text update-front-text" type="text" name="flashcard[word]" placeholder="Enter a word">
                  <input class="card-back-text update-back-text" type="text" name="flashcard[definition]" placeholder="Enter a definition">
                  <input class="update-submit" type="submit" name="submit" value="Update Card">
                </fieldset>
              </form>
            </div>
            <!-- Modal footer-->
            <div class="modal-footer">
              <p id="update-status-message" class="update-status-message text-align-center"></p>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <button id="delete-flashcard" class="delete-flashcard" data-id="{{flashcard.id}}">
        <span class="glyphicon glyphicon-trash" data-id="{{flashcard.id}}"></span>
      </button>

    </div>

  {{/each}}

</div>

<!-- Key 1 -->
<!-- <audio controls
src="https://api.voicerss.org/?key=dc0066763bea477f8b68c2a50bc8bbf8&hl=ja-jp&src={{flashcard.word}}" class="word-audio" id="word-audio">
Your browser does not support the <code>audio</code> element.
</audio> -->

<!-- Key 2 -->
<!-- <audio controls src="https://api.voicerss.org/?key=cb75676b142f4d9ea40f9082ad50731b&hl=ja-jp&src={{flashcard.word}}" class="word-audio" id="word-audio">
Your browser does not support the <code>audio</code> element.
</audio> -->

<!-- Key 3 -->
<!-- <audio controls
src="https://api.voicerss.org/?key=1d3b94873d76490aa642c3b7dce52146&hl=ja-jp&src={{flashcard.word}}" class="word-audio" id="word-audio">
Your browser does not support the <code>audio</code> element.
</audio> -->

<!-- what partial does: adds a line for each book "I'm a partial that's included in every book iteration ". It's just a handlebars file that's being required by another handlebar file -->
<!-- if you call this partial partiale, then the partial.handlebar file should be called partiale.handlebar -->
